.big-title {
  font-size: 3rem;
  font-stretch: expanded;
  padding-top: 12%;
  padding-left: 2%;
  border: white 1px solid;

}
section {
  text-align: center;
}

section:nth-child(2) {
  border: white 1px solid;
}
